pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
inputs/input1.txt
inputs/input2.txt
inputs/input3.txt
/.clj-kondo/
/.lsp/